<!DOCTYPE html>
<html>
<head>
    <title>Vue Testing</title>
    <style type="text/css" media="screen">
        .error {
            color: red;
        }
        .success {
            color: green;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{ fullName }} has javascript level: {{ skill }}</h1>
        <input type="text" placeholder="First Name" v-model="first">
        <input type="text" placeholder="Last Name" v-model="last">
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            point: 200,
            first: 'John',
            last: 'Doe',
            /*fullName: 'John Doe'*/
        },
        computed: {
            skill: function () {
                if (this.point > 100) {
                    return "Advanced"
                }
                return "Beginner"
            },
            fullName: function () {
                return this.first + " " + this.last;
            }
        }
        /*watch: {
            first: function (first) {
                this.fullName = first + ' ' + this.last;
            },
            last: function (last) {
                this.fullName = this.first + ' ' + last;
            }
        }*/
    });
</script>
</body>
</html>